@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #F5F5F5;
}

/* NAVIGATION */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    padding-left: 124px;
    padding-right: 132px;
}

.menu-column {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-column ul {
    display: flex;
    list-style: none;
    gap: 48px;
    align-items: center;
}

.nav-column a:link {
    text-decoration: none;
    color: #8E8E8E;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.nav-column a:hover {
    color:#69B99D;
}


.hover-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav-buttons-column {
    display: flex;
    gap: 56px;
}

.mobile-nav-button {
    display: none;
}

.menu-column-mobile {
    display: none;
}

.sign-in-btn {
    color: #69B99D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04px;
    border: none;
    background: none;
    cursor: pointer;
    }

.sign-in-btn:hover {
    color: #8E8E8E
}

.login-btn {
    display: inline-flex;
    padding: 16px 48px 15px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    background: #69B99D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04px;
    border: none;
    cursor: pointer;
}

.login-btn:hover {
    background: #8E8E8E
}

/* HERO SECTION */

.hero-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 124px;
    padding-bottom: 108px;
    background-color: #F5F5F5;
}

.image-column {
    background-size: contain;
    background-image: url('img/house.png');
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 0;
}

.content-column {
    z-index: 1;
}

.hero-category {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F8F9FE;
    color: #69B99D;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 32px;
    cursor: pointer;
}

.hero-category:hover {
    color: #F8F9FE;
    background: #69B99D;
}

.hero-h2 {
    display: flex;
    width: 605px;
    flex-direction: column;
    flex-shrink: 0;
    color: #1F2744;
    font-family: Rubik;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0.16px;
    margin-bottom: 24px;
}

.hero-p {
    color: #73788C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04px;
    margin-bottom: 64px;
    display: flex;
    width: 502px;
    flex-direction: column;
    flex-shrink: 0;
}

.buy-rent-buttons {
    display: flex;
    flex-direction: row;
}

.buy-btn {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FEFEFF;
    color: #69B99D;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.06px;
    cursor: pointer;
}

.rent-btn {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F5F5F5;
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.06px;
    cursor: pointer;
}

.buy-rent-dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    background: #FEFEFF;
    /* Shadow */
    box-shadow: 35px 35px 65px 0px rgba(146, 106, 120, 0.16);
    gap: 40px;
}

.buy-rent-col {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.loc, .type, .price {
    color: #1F2744;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.045px;
}

.dropdown {
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.045px;
    border: none
}

.buy-rent-search {
    display: inline-flex;
    padding: 18px 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #69B99D;
    box-shadow: 0px 0px 65px 0px rgba(105, 185, 157, 0.32);
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04px;
}

.buy-rent-col-4 {
    padding-top: 32px;
}

.buy-rent-search {
    cursor: pointer;
}

/* SECTION RECOMMENDATION */

.recommendation-section {
    padding-top: 120px;
    padding-left: 122px;
    padding-right: 122px;
}

.rec-category {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F8F9FE;
    color: #69B99D;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.rec-category:hover {
    background: #69B99D;
    color: #fff;
}

.heading {
    color: #054457;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.5px;
}

/* .recommendation-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.rec-p {
    display: flex;
    width: 492px;
    flex-direction: column;
    flex-shrink: 0;
    color: #73788C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04px;
    padding-top: 16px;
    padding-bottom: 48px;
}

.learn-more-btn {
    color: #69B99D;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.learn-more-btn:hover {
    color: #73788C;
}

.recommendation-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    padding-bottom: 120px;
}

.card {
    border: 1px solid #DEDCDA;
    background: #FEFEFF;
    padding: 16px;
    width: 100%;
    /* height: 472px; */
    flex-shrink: 1;
}

.card-img img {
    width: 100%;
}

.card-h3 {
    color:#1F2744;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.06px;
    padding-top: 16px;
}

.card-place {
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04px;
    padding-bottom: 16px;
}

.card-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    color: #69B99D;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.06px;
}

.card-living-area {
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #F5F5F5;
}

.card-living-area p {
    color: #1F2744;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04px;
}

.card-living-area sup {
    font-size: 10px;
}

.living-area-text {
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04px;
}

.card-btn {
    margin-top: 24px;
    display: flex;
    width: 100%;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #69B99D;
    color: #69B99D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04px;
    background: #fff;
    cursor: pointer;
}

.card-btn:hover {
    background-color: #69B99D;
    color:#fff;
}

.card-btn-2 {
    background: #69B99D;
    box-shadow: 0px 0px 20px 0px rgba(105, 185, 157, 0.58);
    color: #FEFEFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04px;
}

.card-btn-2:hover {
    background:#fff;
    color: #69B99D;
    border: 1px solid #69B99D;
}

/* ADVANTAGES SECTION  */

.advantages-section {
    padding: 80px 124px;
    background: #F5F5F5;
    margin-bottom: 120px;
}

.row {
    display: flex;
    flex-direction: row;
}

.advantages-heading {
    display: flex;
    width: 436px;
    flex-direction: column;
    flex-shrink: 0;
    color: #054457;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.5px;
    margin-bottom: 68px;
}

.column {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.column h3 {
    color: #054457;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.5px;
}

.column p {
    color: #73788C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
}

/* ABOUT SECTION */

.about-section {
    margin-left: 124px;
    margin-right: 124px;
    display: flex;
    flex-direction: row;
    gap: 56px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
    flex-basis: auto;
}

.left-side-about {
    background-image: url(img/about-image.png);
    object-fit:contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 475px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.rating {
    width: 174px;
    height: 236px;
    flex-shrink: 0;
    background: #FEFEFF;
    box-shadow: 35px 35px 65px 0px rgba(146, 106, 120, 0.16);
    position: absolute;
    bottom: 319px;
    left: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-icon {
    filter: drop-shadow(0px 0px 38px rgba(105, 185, 157, 0.32));
    position: absolute;
    top: -54px;
    left: 30px;

}

.rating-number {
    color: #054457;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.18px;
    margin-bottom: 8px;
}

.rating-info-trust {
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04px;
    text-align: center;
    margin-top: 16px;
}

.rating-info-reviews-num {
    color: #054457;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04px;
    text-align: center;
}



.right-side-about-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.about-heading {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    color: #054457;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.5px;
}

.about-p {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    color: #73788C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04px;
}

.about-btn {
    display: inline-flex;
    padding: 18px 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #69B99D;
    box-shadow: 24px 24px 65px 0px rgba(81, 140, 119, 0.24);
    color: #FEFEFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.about-btn:hover {
    background: #fff;
    color:#69B99D;
    border: #69B99D;
}

.statistics-box {
    position: absolute;
    bottom: 0;
    right: 0px;
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: #FFF;
}

.statistic-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic-num {
    color: #054457;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0.12px;
}

.statistic-info {
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04px;
    flex-basis: 72px;
}


/* TESTIMONIALS SECTION */

.testimonials-section {
    margin-left: 124px;
    margin-right: 124px;
    margin-bottom: 120px;
}

.testimonial-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.testimonial-cards-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
}

.testimonial-card {
    flex-basis: 100%;
    border: 1px solid #DEDCDA;
    background: #FEFEFF;
    padding: 24px;
}


.testimonial-card-heading {
    display: flex;
    flex-basis: 265px;
    flex-direction: column;
    color: #1F2744;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.045px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.testimonial-content {
    display: flex;
    flex-basis: 328px;
    flex-direction: column;
    color: #1F2744;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04px;
}

.testimonial-author-box {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 26px;
}

.author-name {
    color: #0B2E29;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.author-job {
    color: #767676;
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
}

/* FOOTER SECTION */

.footer-section {
    background: #F5F5F5;
    padding-top: 78px;
    padding-bottom: 100px;
    padding-left: 124px;
    padding-right: 124px;
    display: flex;
    justify-content: space-between;
    gap: 137px;
}

.left-side {
    display: flex;
    flex-direction: row;
    gap: 214px;
}

.logo-side-text {
    margin-top: 16px;
    margin-bottom: 24px;
    color: #1F2744;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04px;
}

form label {
    color: #0B2E29;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.input-data {
    display: flex;
}

form input {
    flex-basis: 100%;
    height: 42px;
    background: #fff;
    border: none;
    padding-left: 16px;
}

::placeholder {
    color: #D7D7D7;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
}

:-ms-input-placeholder {
    color: #D7D7D7;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
}

::-ms-input-placeholder {
    color: #D7D7D7;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.send-btn {
    width: 88px;
    height: 42px;
    flex-shrink: 0;
    background: var(--primary, #69B99D);
    box-shadow: 0px 0px 65px 0px rgba(105, 185, 157, 0.48);
    border:none;
    color: #FEFEFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.right-nav-footer-side {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.footer-nav-heading {
    color: #0B2E29;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-ul  {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-ul a, .footer a:link {
    text-decoration: none;
    color: #575757;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer-ul a:hover {
    color: #69B99D;
    text-decoration: underline;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.bg-social {
    width: 40px;
    height: 40px;
    background: #F8F9F9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* MOBILE */

@media (max-width: 992px) {
    header {
        gap: 0;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .menu-column-mobile {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        height: 70vh;
        background-color: #fff;
        width: 100%;
    }

    .nav-column ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .nav-buttons-column {
        display: flex;
        gap: 20px;
    }

    .mobile-nav-button {
        display: inline-block;
        cursor: pointer;
    }

    .logo-column {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .menu-column {
        display: none;
        
    }


/* HERO SECTION */
.hero-section {
    flex-direction: column;
    padding-left: 20px;
}

.hero-h2 {
    max-width: 100%;
    font-size: 44px;
    line-height: 44px;
}

.hero-p {
    max-width: 100%;
}

.buy-rent-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* SECTION RECOMMENDATION */

.recommendation-section {
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
}

.heading {
    color: #054457;
    font-family: Rubik;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.5px;
}

.recommendation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.rec-p {
    max-width: 100%;
}

/* .recommendation-cards {
    flex-direction: column;
    justify-content: center;
} */

.card {
    max-width: 100%;
    height: 472px;
}

.card-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* ADVANTAGES SECTION */

.advantages-section {
    padding: 80px 20px;
    background: #F5F5F5;
}

/* .row {
    flex-direction: column;
} */

.advantages-heading {
    width: 100%;
    font-size: 38px;
}

/* ABOUT SECTION */

.about-section {
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-heading {
    width: 100%;
    font-size: 38px;
    line-height: 36px;
}

.about-p {
    width: 100%;
}

.statistics-box {
    display: flex;
    flex-direction: column;
}

/* TESTIMONIALS SECTION */

.testimonials-section {
    margin-left: 20px;
    margin-right: 20px;
}

.testimonial-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonial-cards-container {
    flex-direction: column;
}

/* FOOTER SECTION */

.footer-section {
    padding-left: 20px;
    padding-right: 20px;  
    flex-direction: column;
    gap: 60px;
}

.left-side {
    flex-direction: column;
}


}

@media (max-width: 412px) {
    .recommendation-cards {
        flex-direction: column;
        justify-content: center;
    }

    .row {
        flex-direction: column;
    }

    .right-nav-footer-side {
        flex-direction: column;
    }
}